In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

stock = yf.download('2330.tw', start = '2019-07-01', end = '2022-09-30')
stock.index.name = 'Date'
stock['Daily Return'] = stock['Adj Close'].pct_change().dropna()
stock = stock.drop(stock.index[0])
stock

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume  Daily Return
Date
2019-07-02  249.5  250.0  247.5  249.0  229.395416  24181202      0.002012
2019-07-03  244.0  245.0  242.0  242.5  223.407181  29449774     -0.026104
2019-07-04  244.5  245.0  242.5  244.0  224.789108  17481240      0.006186
2019-07-05  244.5  245.0  241.5  243.0  223.867828  22867074     -0.004098
2019-07-08  240.0  244.5  240.0  242.5  223.407181  27787909     -0.002058
...           ...    ...    ...    ...         ...       ...           ...
2022-09-23  458.5  460.5  455.0  455.0  452.395966  29757787     -0.020452
2022-09-26  443.0  454.0  443.0  446.5  443.944611  32342267     -0.018681
2022-09-27  449.0  451.5  446.0  448.0  445.436005  24961404      0.003359
2022-09-28  447.0  449.0  438.0  438.0  435.493256  34402652     -0.022321
2022-09-29  443.0  443.5  432.0  435.0  432.510406  41094780     -0.006849

[794 rows x 7 columns]

In [2]:
twii = yf.download('^TWII', start = '2019-07-01', end = '2022-09-30')
twii.index.name = 'Date'
twii['Daily Return'] = twii['Adj Close'].pct_change().dropna()
twii = twii.drop(twii.index[0])
twii

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
2019-07-02,10878.009766,10888.209961,10843.639648,10865.120117,10865.120117,2034200,-0.002785
2019-07-03,10793.099609,10812.650391,10720.660156,10743.769531,10743.769531,1875300,-0.011169
2019-07-04,10755.870117,10791.280273,10750.900391,10775.900391,10775.900391,1576600,0.002991
2019-07-05,10785.849609,10812.379883,10756.669922,10785.730469,10785.730469,1573800,0.000912
2019-07-08,10742.809570,10781.110352,10708.919922,10751.219727,10751.219727,1628900,-0.003200
...,...,...,...,...,...,...,...
2022-09-23,14231.030273,14277.530273,14109.709961,14118.379883,14118.379883,2584800,-0.011638
2022-09-26,13993.419922,13993.419922,13743.190430,13778.190430,13778.190430,3149000,-0.024096
2022-09-27,13812.990234,13862.839844,13732.320312,13826.589844,13826.589844,2722800,0.003513
2022-09-28,13816.700195,13854.089844,13466.070312,13466.070312,13466.070312,3481100,-0.026074
2022-09-29,13550.700195,13651.290039,13462.570312,13534.259766,13534.259766,2992600,0.005064

In [3]:
rf = pd.read_csv('/Users/lofang/Desktop/python/csv files/Taiwan 10-Year Bond Yield 1907_2209.csv')
rf['Date'] = pd.to_datetime(rf['Date'])
rf

          Date  Price   Open   High    Low Change %
0   2022-09-30  1.695  1.695  1.695  1.695    2.42%
1   2022-09-29  1.655  1.655  1.655  1.655   -1.19%
2   2022-09-28  1.675  1.665  1.675  1.665    0.60%
3   2022-09-27  1.665  1.475  1.665  1.475   12.88%
4   2022-09-26  1.475  1.402  1.475  1.402    5.21%
..         ...    ...    ...    ...    ...      ...
833 2019-07-05  0.660  0.660  0.660  0.660    0.00%
834 2019-07-04  0.660  0.660  0.660  0.660    0.00%
835 2019-07-03  0.660  0.690  0.690  0.660   -4.35%
836 2019-07-02  0.690  0.695  0.695  0.690   -0.72%
837 2019-07-01  0.695  0.695  0.695  0.695   -0.71%

[838 rows x 6 columns]

In [4]:
rf = rf[rf["Date"].isin(twii.index)]
rf.set_index('Date', inplace = True)
rf

            Price   Open   High    Low Change %
Date
2022-09-29  1.655  1.655  1.655  1.655   -1.19%
2022-09-28  1.675  1.665  1.675  1.665    0.60%
2022-09-27  1.665  1.475  1.665  1.475   12.88%
2022-09-26  1.475  1.402  1.475  1.402    5.21%
2022-09-23  1.402  1.395  1.402  1.395    0.50%
...           ...    ...    ...    ...      ...
2019-07-08  0.660  0.660  0.660  0.660    0.00%
2019-07-05  0.660  0.660  0.660  0.660    0.00%
2019-07-04  0.660  0.660  0.660  0.660    0.00%
2019-07-03  0.660  0.690  0.690  0.660   -4.35%
2019-07-02  0.690  0.695  0.695  0.690   -0.72%

[788 rows x 5 columns]

In [5]:
fx_rate = pd.read_csv('/Users/lofang/Desktop/python/csv files/USD_TWD 1907_to_2209.csv')
fx_rate['Date'] = pd.to_datetime(fx_rate['Date'])
fx_rate

          Date   Price    Open    High     Low    Vol. Change %
0   2022-09-30  31.803  31.698  31.877  31.615  22.77K    0.38%
1   2022-09-29  31.683  31.717  31.873  31.651  23.62K   -0.09%
2   2022-09-28  31.711  31.754  31.943  31.660  19.05K   -0.12%
3   2022-09-27  31.748  31.838  31.903  31.637  20.77K   -0.24%
4   2022-09-26  31.823  31.807  31.948  31.761  19.08K    0.06%
..         ...     ...     ...     ...     ...     ...      ...
845 2019-07-05  31.168  31.066  31.212  31.031  13.33K    0.44%
846 2019-07-04  31.033  31.088  31.128  31.032  14.23K   -0.13%
847 2019-07-03  31.072  30.973  31.129  30.966  13.07K    0.26%
848 2019-07-02  30.992  31.008  31.069  30.938   3.05K    0.00%
849 2019-07-01  30.992  30.973  31.061  30.933  12.90K    0.11%

[850 rows x 7 columns]

In [6]:
fx_rate = fx_rate[fx_rate["Date"].isin(rf.index)]
fx_rate.set_index('Date', inplace=True)
fx_rate

             Price    Open    High     Low    Vol. Change %
Date
2022-09-29  31.683  31.717  31.873  31.651  23.62K   -0.09%
2022-09-28  31.711  31.754  31.943  31.660  19.05K   -0.12%
2022-09-27  31.748  31.838  31.903  31.637  20.77K   -0.24%
2022-09-26  31.823  31.807  31.948  31.761  19.08K    0.06%
2022-09-23  31.803  31.598  31.899  31.520  23.72K    0.70%
...            ...     ...     ...     ...     ...      ...
2019-07-08  31.172  31.183  31.207  31.130   8.68K    0.01%
2019-07-05  31.168  31.066  31.212  31.031  13.33K    0.44%
2019-07-04  31.033  31.088  31.128  31.032  14.23K   -0.13%
2019-07-03  31.072  30.973  31.129  30.966  13.07K    0.26%
2019-07-02  30.992  31.008  31.069  30.938   3.05K    0.00%

[788 rows x 6 columns]

In [7]:
stock = stock[stock.index.isin(rf.index)]
twii = twii[twii.index.isin(rf.index)]
print(stock.info())
print(twii.info())
print(rf.info())
print(fx_rate.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 788 entries, 2019-07-02 to 2022-09-29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          788 non-null    float64
 1   High          788 non-null    float64
 2   Low           788 non-null    float64
 3   Close         788 non-null    float64
 4   Adj Close     788 non-null    float64
 5   Volume        788 non-null    int64
 6   Daily Return  788 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 49.2 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 788 entries, 2019-07-02 to 2022-09-29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          788 non-null    float64
 1   High          788 non-null    float64
 2   Low           788 non-null    float64
 3   Close         788 non-null    float64
 4   Adj Close     788 non-null    float64
 5   Volume        788 non-null    int64
 6   Daily Return  788 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 49.2 KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 788 entries, 2022-09-29 to 2019-07-02
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     788 non-null    float64
 1   Open      788 non-null    float64
 2   High      788 non-null    float64
 3   Low       788 non-null    float64
 4   Change %  788 non-null    object
dtypes: float64(4), object(1)
memory usage: 36.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 788 entries, 2022-09-29 to 2019-07-02
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     788 non-null    float64
 1   Open      788 non-null    float64
 2   High      788 non-null    float64
 3   Low       788 non-null    float64
 4   Vol.      788 non-null    object
 5   Change %  788 non-null    object
dtypes: float64(4), object(2)
memory usage: 43.1+ KB
None

In [8]:
variable_table = pd.DataFrame(index = stock.index)
variable_table['Individual Return'] = stock['Daily Return']
variable_table['Weighted Return'] = twii['Daily Return']
variable_table['FX Factor'] = fx_rate['Price']
variable_table['risk-free'] = rf['Price']
variable_table['mkt-rf'] = variable_table['Weighted Return'] - variable_table['risk-free']
variable_table['risk premium'] = variable_table['Individual Return'] - variable_table['risk-free']
variable_table

,Individual Return,Weighted Return,FX Factor,risk-free,mkt-rf,risk premium
Date,,,,,,
2019-07-02,0.002012,-0.002785,30.992,0.690,-0.692785,-0.687988
2019-07-03,-0.026104,-0.011169,31.072,0.660,-0.671169,-0.686104
2019-07-04,0.006186,0.002991,31.033,0.660,-0.657009,-0.653814
2019-07-05,-0.004098,0.000912,31.168,0.660,-0.659088,-0.664098
2019-07-08,-0.002058,-0.003200,31.172,0.660,-0.663200,-0.662058
...,...,...,...,...,...,...
2022-09-23,-0.020452,-0.011638,31.803,1.402,-1.413638,-1.422452
2022-09-26,-0.018681,-0.024096,31.823,1.475,-1.499096,-1.493681
2022-09-27,0.003359,0.003513,31.748,1.665,-1.661487,-1.661641
2022-09-28,-0.022321,-0.026074,31.711,1.675,-1.701074,-1.697321
2022-09-29,-0.006849,0.005064,31.683,1.655,-1.649936,-1.661849

In [9]:
X = variable_table[['mkt-rf', 'FX Factor']]
y = variable_table['risk premium']
X = sm.add_constant(X)
fx_model = sm.OLS(y, X).fit()
print(fx_model.summary())
intercept, b1, b2 = fx_model.params

                            OLS Regression Results
==============================================================================
Dep. Variable:           risk premium   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 4.287e+05
Date:                Wed, 18 Jan 2023   Prob (F-statistic):               0.00
Time:                        10:57:31   Log-Likelihood:                 2575.7
No. Observations:                 788   AIC:                            -5145.
Df Residuals:                     785   BIC:                            -5131.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0163      0.009     -1.824      0.069      -0.034       0.001
mkt-rf         1.0023      0.001    824.315      0.000       1.000       1.005
FX Factor      0.0006      0.000      1.979      0.048    5.01e-06       0.001
==============================================================================
Omnibus:                      224.968   Durbin-Watson:                   1.816
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1667.495
Skew:                           1.081   Prob(JB):                         0.00
Kurtosis:                       9.791   Cond. No.                         795.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.