In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt

df1 = pd.read_csv('/Users/lofang/Desktop/python/csv files/ff_table_copy.csv')
df2 = df1.dropna().reset_index(drop=True)
df2

           Date    market     rf       SMB       HML
0    2020-01-02  0.008614  0.652 -0.107038  0.366657
1    2020-01-03  0.000822  0.632 -0.103458 -0.065197
2    2020-01-06 -0.012970  0.623  0.103686 -0.360716
3    2020-01-07 -0.006110  0.623  0.036410 -0.116784
4    2020-01-08 -0.005321  0.623 -0.040028  0.052447
..          ...       ...    ...       ...       ...
714  2022-12-05  0.000672  1.355  0.165858 -0.036654
715  2022-12-06 -0.016812  1.365  0.070774 -0.351898
716  2022-12-07 -0.006713  1.265 -0.015823 -0.187179
717  2022-12-08 -0.005261  1.250  0.139725 -0.115378
718  2022-12-09  0.010471  1.284 -0.168528  0.345984

[719 rows x 5 columns]

In [2]:
df2['rf'] = df2['rf']*0.01
df2

           Date    market       rf       SMB       HML
0    2020-01-02  0.008614  0.00652 -0.107038  0.366657
1    2020-01-03  0.000822  0.00632 -0.103458 -0.065197
2    2020-01-06 -0.012970  0.00623  0.103686 -0.360716
3    2020-01-07 -0.006110  0.00623  0.036410 -0.116784
4    2020-01-08 -0.005321  0.00623 -0.040028  0.052447
..          ...       ...      ...       ...       ...
714  2022-12-05  0.000672  0.01355  0.165858 -0.036654
715  2022-12-06 -0.016812  0.01365  0.070774 -0.351898
716  2022-12-07 -0.006713  0.01265 -0.015823 -0.187179
717  2022-12-08 -0.005261  0.01250  0.139725 -0.115378
718  2022-12-09  0.010471  0.01284 -0.168528  0.345984

[719 rows x 5 columns]

In [4]:
tsmc = pd.read_csv('/Users/lofang/Desktop/python/csv files/2330.TW.csv')
tsmc

           Date   Open   High    Low  Close   Adj Close    Volume
0    2020-01-02  332.5  339.0  332.5  339.0  318.791107  31754120
1    2020-01-03  344.0  345.0  335.5  339.5  319.261383  41811268
2    2020-01-06  333.0  334.5  332.0  332.0  312.208405  45343057
3    2020-01-07  332.5  333.0  326.5  329.5  309.857452  50879181
4    2020-01-08  325.0  333.0  325.0  329.5  309.857452  37567748
..          ...    ...    ...    ...    ...         ...       ...
714  2022-12-05  491.5  497.5  489.0  489.0  489.000000  28360444
715  2022-12-06  488.0  489.0  478.0  478.0  478.000000  40561068
716  2022-12-07  477.0  485.5  475.0  475.0  475.000000  36563503
717  2022-12-08  475.0  475.0  467.0  471.5  471.500000  27238567
718  2022-12-09  478.0  484.5  476.0  481.5  481.500000  25915337

[719 rows x 7 columns]

In [5]:
tsmc['Daily_Return'] = tsmc['Adj Close'].pct_change().dropna()
tsmc

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return
0,2020-01-02,332.5,339.0,332.5,339.0,318.791107,31754120,NaN
1,2020-01-03,344.0,345.0,335.5,339.5,319.261383,41811268,0.001475
2,2020-01-06,333.0,334.5,332.0,332.0,312.208405,45343057,-0.022092
3,2020-01-07,332.5,333.0,326.5,329.5,309.857452,50879181,-0.007530
4,2020-01-08,325.0,333.0,325.0,329.5,309.857452,37567748,0.000000
...,...,...,...,...,...,...,...,...
714,2022-12-05,491.5,497.5,489.0,489.0,489.000000,28360444,-0.007107
715,2022-12-06,488.0,489.0,478.0,478.0,478.000000,40561068,-0.022495
716,2022-12-07,477.0,485.5,475.0,475.0,475.000000,36563503,-0.006276
717,2022-12-08,475.0,475.0,467.0,471.5,471.500000,27238567,-0.007368
718,2022-12-09,478.0,484.5,476.0,481.5,481.500000,25915337,0.021209

In [6]:
df2['Daily_Return'] = tsmc['Daily_Return']
df2['mkt-rf'] = df2['market'] - df2['rf']
df3 = df2.drop(index = 0)
df3

           Date    market       rf       SMB       HML  Daily_Return    mkt-rf
1    2020-01-03  0.000822  0.00632 -0.103458 -0.065197      0.001475 -0.005498
2    2020-01-06 -0.012970  0.00623  0.103686 -0.360716     -0.022092 -0.019200
3    2020-01-07 -0.006110  0.00623  0.036410 -0.116784     -0.007530 -0.012340
4    2020-01-08 -0.005321  0.00623 -0.040028  0.052447      0.000000 -0.011551
5    2020-01-09  0.012992  0.00627 -0.086832  0.462107      0.024279  0.006722
..          ...       ...      ...       ...       ...           ...       ...
714  2022-12-05  0.000672  0.01355  0.165858 -0.036654     -0.007107 -0.012878
715  2022-12-06 -0.016812  0.01365  0.070774 -0.351898     -0.022495 -0.030462
716  2022-12-07 -0.006713  0.01265 -0.015823 -0.187179     -0.006276 -0.019363
717  2022-12-08 -0.005261  0.01250  0.139725 -0.115378     -0.007368 -0.017761
718  2022-12-09  0.010471  0.01284 -0.168528  0.345984      0.021209 -0.002369

[718 rows x 7 columns]

In [7]:
X = df3[['mkt-rf', 'SMB', 'HML']]
y = df3['Daily_Return'] - df3['rf']
X = sm.add_constant(X)
ff_model = sm.OLS(y, X).fit()
print(ff_model.summary())
intercept, b1, b2, b3 = ff_model.params

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.950
Model:                            OLS   Adj. R-squared:                  0.949
Method:                 Least Squares   F-statistic:                     4487.
Date:                Thu, 15 Dec 2022   Prob (F-statistic):               0.00
Time:                        13:06:05   Log-Likelihood:                 2901.2
No. Observations:                 718   AIC:                            -5794.
Df Residuals:                     714   BIC:                            -5776.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0009      0.000     -3.922      0.000      -0.001      -0.000
mkt-rf         0.8062      0.025     32.630      0.000       0.758       0.855
SMB           -0.0384      0.001    -25.986      0.000      -0.041      -0.035
HML            0.0159      0.001     12.822      0.000       0.013       0.018
==============================================================================
Omnibus:                      786.731   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           149771.916
Skew:                           4.727   Prob(JB):                         0.00
Kurtosis:                      73.121   Cond. No.                         155.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
def rf(t):
    return df3['rf'].loc[t]
def market_premium(t):
    return df3['mkt-rf'].loc[t]
def size_premium(t):
    return df3['SMB'].loc[t]
def value_premium(t):
    return df3['HML'].loc[t]

In [8]:
# expected_daily_return = rf(1) + b1 * market_premium(1) + b2 * size_premium(1) + b3 * value_premium(1) 
# print("Expected daily return: " + str(expected_daily_return))

Expected daily return: 0.004826099952846789

In [10]:
def er(t):
    return rf(t) + b1 * market_premium(t) + b2 * size_premium(t) + b3 * value_premium(t)

In [11]:
expected_daily_return = []
abnormal = []
for i in range(1,719,1):
    a = er(i)
    expected_daily_return.append(a)
df4 = pd.DataFrame (expected_daily_return, columns = ['ER'])
df4.index = df4.index + 1
df4

           ER
1    0.004826
2   -0.018951
3   -0.006969
4   -0.000714
5    0.022353
..        ...
714 -0.003782
715 -0.019207
716 -0.005321
717 -0.009014
718  0.022889

[718 rows x 1 columns]

In [12]:
df3['abnormal_returns'] = df4['ER'] - df3['Daily_Return']
df3

,Date,market,rf,SMB,HML,Daily_Return,mkt-rf,abnormal_returns
1,2020-01-03,0.000822,0.00632,-0.103458,-0.065197,0.001475,-0.005498,0.003351
2,2020-01-06,-0.012970,0.00623,0.103686,-0.360716,-0.022092,-0.019200,0.003140
3,2020-01-07,-0.006110,0.00623,0.036410,-0.116784,-0.007530,-0.012340,0.000561
4,2020-01-08,-0.005321,0.00623,-0.040028,0.052447,0.000000,-0.011551,-0.000714
5,2020-01-09,0.012992,0.00627,-0.086832,0.462107,0.024279,0.006722,-0.001926
...,...,...,...,...,...,...,...,...
714,2022-12-05,0.000672,0.01355,0.165858,-0.036654,-0.007107,-0.012878,0.003325
715,2022-12-06,-0.016812,0.01365,0.070774,-0.351898,-0.022495,-0.030462,0.003288
716,2022-12-07,-0.006713,0.01265,-0.015823,-0.187179,-0.006276,-0.019363,0.000955
717,2022-12-08,-0.005261,0.01250,0.139725,-0.115378,-0.007368,-0.017761,-0.001645
718,2022-12-09,0.010471,0.01284,-0.168528,0.345984,0.021209,-0.002369,0.001680