In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt

df1 = pd.read_csv('/Users/lofang/Desktop/python/csv files/ff_table.csv')
ff_table = df1.dropna().reset_index(drop=True)
ff_table

           Date    market     rf       SMB       HML
0    2019-01-03 -0.006460  0.842  0.111343 -0.183098
1    2019-01-04 -0.011579  0.850  0.283376 -0.465596
2    2019-01-07  0.022147  0.870 -0.084096  0.457468
3    2019-01-08 -0.002784  0.880  0.068160 -0.082656
4    2019-01-09  0.018268  0.880 -0.098494  0.406240
..          ...       ...    ...       ...       ...
951  2022-12-09  0.010471  1.284 -0.168422  0.346143
952  2022-12-12 -0.006313  1.295  0.095997 -0.284591
953  2022-12-13 -0.006134  1.290  0.012489 -0.194627
954  2022-12-14  0.014901  1.275 -0.014209  0.468954
955  2022-12-15 -0.000355  1.275  0.082550 -0.046106

[956 rows x 5 columns]

In [2]:
ff_table['rf'] = ff_table['rf']*0.01
ff_table

           Date    market       rf       SMB       HML
0    2019-01-03 -0.006460  0.00842  0.111343 -0.183098
1    2019-01-04 -0.011579  0.00850  0.283376 -0.465596
2    2019-01-07  0.022147  0.00870 -0.084096  0.457468
3    2019-01-08 -0.002784  0.00880  0.068160 -0.082656
4    2019-01-09  0.018268  0.00880 -0.098494  0.406240
..          ...       ...      ...       ...       ...
951  2022-12-09  0.010471  0.01284 -0.168422  0.346143
952  2022-12-12 -0.006313  0.01295  0.095997 -0.284591
953  2022-12-13 -0.006134  0.01290  0.012489 -0.194627
954  2022-12-14  0.014901  0.01275 -0.014209  0.468954
955  2022-12-15 -0.000355  0.01275  0.082550 -0.046106

[956 rows x 5 columns]

In [3]:
tsmc = pd.read_csv('/Users/lofang/Desktop/python/csv files/2330.TW.csv')
tsmc.dropna().reset_index(drop=True)
tsmc

           Date   Open   High    Low  Close   Adj Close    Volume
0    2019-01-03  214.0  218.0  214.0  215.5  192.141556  34087620
1    2019-01-04  211.5  211.5  206.5  208.0  185.454483  65943521
2    2019-01-07  212.0  214.0  211.0  213.0  189.912552  35442176
3    2019-01-08  212.0  212.5  210.0  211.0  188.129288  22694481
4    2019-01-09  212.0  216.5  211.0  215.5  192.141556  46295446
..          ...    ...    ...    ...    ...         ...       ...
958  2022-12-09  478.0  484.5  476.0  481.5  478.744293  25915337
959  2022-12-12  476.5  478.0  473.5  475.0  472.281494  20973334
960  2022-12-13  473.0  476.0  471.0  471.5  468.801514  33272826
961  2022-12-14  472.0  480.5  472.0  480.5  477.750000  30636639
962  2022-12-15  476.0  481.5  474.5  480.5  480.500000  24222008

[963 rows x 7 columns]

In [4]:
tsmc['Daily_Return'] = tsmc['Adj Close'].pct_change().dropna()
tsmc

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Return
0,2019-01-03,214.0,218.0,214.0,215.5,192.141556,34087620,NaN
1,2019-01-04,211.5,211.5,206.5,208.0,185.454483,65943521,-0.034803
2,2019-01-07,212.0,214.0,211.0,213.0,189.912552,35442176,0.024039
3,2019-01-08,212.0,212.5,210.0,211.0,188.129288,22694481,-0.009390
4,2019-01-09,212.0,216.5,211.0,215.5,192.141556,46295446,0.021327
...,...,...,...,...,...,...,...,...
958,2022-12-09,478.0,484.5,476.0,481.5,478.744293,25915337,0.021209
959,2022-12-12,476.5,478.0,473.5,475.0,472.281494,20973334,-0.013499
960,2022-12-13,473.0,476.0,471.0,471.5,468.801514,33272826,-0.007368
961,2022-12-14,472.0,480.5,472.0,480.5,477.750000,30636639,0.019088
962,2022-12-15,476.0,481.5,474.5,480.5,480.500000,24222008,0.005756

In [5]:
joint = ff_table.merge(tsmc,on = ['Date'], how = 'left')
joint

,Date,market,rf,SMB,HML,Open,High,Low,Close,Adj Close,Volume,Daily_Return
0,2019-01-03,-0.006460,0.00842,0.111343,-0.183098,214.0,218.0,214.0,215.5,192.141556,34087620,NaN
1,2019-01-04,-0.011579,0.00850,0.283376,-0.465596,211.5,211.5,206.5,208.0,185.454483,65943521,-0.034803
2,2019-01-07,0.022147,0.00870,-0.084096,0.457468,212.0,214.0,211.0,213.0,189.912552,35442176,0.024039
3,2019-01-08,-0.002784,0.00880,0.068160,-0.082656,212.0,212.5,210.0,211.0,188.129288,22694481,-0.009390
4,2019-01-09,0.018268,0.00880,-0.098494,0.406240,212.0,216.5,211.0,215.5,192.141556,46295446,0.021327
...,...,...,...,...,...,...,...,...,...,...,...,...
951,2022-12-09,0.010471,0.01284,-0.168422,0.346143,478.0,484.5,476.0,481.5,478.744293,25915337,0.021209
952,2022-12-12,-0.006313,0.01295,0.095997,-0.284591,476.5,478.0,473.5,475.0,472.281494,20973334,-0.013499
953,2022-12-13,-0.006134,0.01290,0.012489,-0.194627,473.0,476.0,471.0,471.5,468.801514,33272826,-0.007368
954,2022-12-14,0.014901,0.01275,-0.014209,0.468954,472.0,480.5,472.0,480.5,477.750000,30636639,0.019088
955,2022-12-15,-0.000355,0.01275,0.082550,-0.046106,476.0,481.5,474.5,480.5,480.500000,24222008,0.005756

In [6]:
joint['mkt-rf'] = joint['market'] - joint['rf']
joint = joint.drop(index = 0)
joint

,Date,market,rf,SMB,HML,Open,High,Low,Close,Adj Close,Volume,Daily_Return,mkt-rf
1,2019-01-04,-0.011579,0.00850,0.283376,-0.465596,211.5,211.5,206.5,208.0,185.454483,65943521,-0.034803,-0.020079
2,2019-01-07,0.022147,0.00870,-0.084096,0.457468,212.0,214.0,211.0,213.0,189.912552,35442176,0.024039,0.013447
3,2019-01-08,-0.002784,0.00880,0.068160,-0.082656,212.0,212.5,210.0,211.0,188.129288,22694481,-0.009390,-0.011584
4,2019-01-09,0.018268,0.00880,-0.098494,0.406240,212.0,216.5,211.0,215.5,192.141556,46295446,0.021327,0.009468
5,2019-01-10,-0.001809,0.00880,0.018098,0.029425,216.0,216.5,214.5,216.0,192.587372,20754593,0.002320,-0.010609
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,2022-12-09,0.010471,0.01284,-0.168422,0.346143,478.0,484.5,476.0,481.5,478.744293,25915337,0.021209,-0.002369
952,2022-12-12,-0.006313,0.01295,0.095997,-0.284591,476.5,478.0,473.5,475.0,472.281494,20973334,-0.013499,-0.019263
953,2022-12-13,-0.006134,0.01290,0.012489,-0.194627,473.0,476.0,471.0,471.5,468.801514,33272826,-0.007368,-0.019034
954,2022-12-14,0.014901,0.01275,-0.014209,0.468954,472.0,480.5,472.0,480.5,477.750000,30636639,0.019088,0.002151
955,2022-12-15,-0.000355,0.01275,0.082550,-0.046106,476.0,481.5,474.5,480.5,480.500000,24222008,0.005756,-0.013105

In [7]:
X = joint[['mkt-rf', 'SMB', 'HML']]
y = joint['Daily_Return'] - joint['rf']
X = sm.add_constant(X)
ff_model = sm.OLS(y, X).fit()
print(ff_model.summary())
intercept, b1, b2, b3 = ff_model.params

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.947
Model:                            OLS   Adj. R-squared:                  0.947
Method:                 Least Squares   F-statistic:                     5714.
Date:                Mon, 09 Jan 2023   Prob (F-statistic):               0.00
Time:                        13:44:50   Log-Likelihood:                 3898.3
No. Observations:                 955   AIC:                            -7789.
Df Residuals:                     951   BIC:                            -7769.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0011      0.000     -5.283      0.000      -0.002      -0.001
mkt-rf         0.7788      0.023     34.352      0.000       0.734       0.823
SMB           -0.0385      0.001    -28.874      0.000      -0.041      -0.036
HML            0.0175      0.001     15.746      0.000       0.015       0.020
==============================================================================
Omnibus:                     1009.143   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           199150.466
Skew:                           4.535   Prob(JB):                         0.00
Kurtosis:                      73.161   Cond. No.                         172.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
def factor(t):
    X = joint[['mkt-rf', 'SMB', 'HML']].head(t+120)
    y = joint['Daily_Return'].head(t+120) - joint['rf'].head(t+120)
    X = sm.add_constant(X)
    ff_model = sm.OLS(y, X).fit()
    # print(ff_model.summary())
    intercept, b1, b2, b3 = ff_model.params
    c = [intercept, b1, b2, b3]
    return c
    #print(c)
# factor(0)

In [9]:
coefficient = []
for i in range(0,836,1):
    coefficient.append(factor(i))
c_table = pd.DataFrame(coefficient, columns = ['const ','mkt-rf','SMB','HML'])
c_table.index = c_table.index + 1
c_table

       const     mkt-rf       SMB       HML
1   -0.004145  0.436085 -0.038238  0.031277
2   -0.004138  0.436338 -0.038275  0.031273
3   -0.004111  0.436080 -0.038440  0.031199
4   -0.004115  0.434405 -0.038428  0.031288
5   -0.003998  0.443928 -0.038947  0.030837
..        ...       ...       ...       ...
832 -0.001117  0.779359 -0.038485  0.017495
833 -0.001118  0.779515 -0.038490  0.017494
834 -0.001118  0.779567 -0.038490  0.017494
835 -0.001114  0.780479 -0.038547  0.017431
836 -0.001118  0.778798 -0.038456  0.017508

[836 rows x 4 columns]

In [10]:
def rf(t):
    return joint['rf'].loc[t]
def market_premium(t):
    return joint['mkt-rf'].loc[t]
def size_premium(t):
    return joint['SMB'].loc[t]
def value_premium(t):
    return joint['HML'].loc[t]

In [11]:
def get_const(t):
    return c_table['const'].loc[t]
def get_mkt(t):
    return c_table['mkt-rf'].loc[t]
def get_SMB(t):
    return c_table['SMB'].loc[t]
def get_HML(t):
    return c_table['HML'].loc[t]

In [29]:
def er(t):
    return rf(t-10) + get_mkt(t-10) * market_premium(t-10) + get_SMB(t-10) * size_premium(t-10) + get_HML(t-10) * value_premium(t-10)

In [30]:
# er(121)

In [32]:
expected_daily_return = []
abnormal = []
for i in range(11,837,1):
    a = er(i)
    expected_daily_return.append(a)
df4 = pd.DataFrame (expected_daily_return, columns = ['ER'])
df4.index = df4.index + 1
df4

           ER
1   -0.025654
2    0.032092
3   -0.001450
4    0.029408
5    0.004293
..        ...
822 -0.001188
823 -0.013611
824 -0.025343
825 -0.070416
826 -0.003312

[826 rows x 1 columns]

In [33]:
final = joint.drop(index = joint.index[0:129])
final.index = final.index - 129
final

,Date,market,rf,SMB,HML,Open,High,Low,Close,Adj Close,Volume,Daily_Return,mkt-rf
1,2019-07-24,-0.001050,0.00675,-0.022355,0.071122,266.5,266.5,263.0,265.0,244.135666,23734039,0.003788,-0.007800
2,2019-07-25,0.000517,0.00674,0.142433,0.051578,264.0,265.0,261.5,265.0,244.135666,30433545,0.000000,-0.006223
3,2019-07-26,-0.004518,0.00690,0.144194,-0.196937,261.0,262.5,261.0,261.0,240.450577,20438071,-0.015094,-0.011418
4,2019-07-29,-0.000574,0.00695,-0.035115,0.009478,260.0,262.0,259.5,261.0,240.450577,17509320,0.000000,-0.007524
5,2019-07-30,-0.005037,0.00695,-0.104761,-0.132129,262.5,263.0,260.0,260.0,239.529358,22670612,-0.003831,-0.011987
...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,2022-12-09,0.010471,0.01284,-0.168422,0.346143,478.0,484.5,476.0,481.5,478.744293,25915337,0.021209,-0.002369
823,2022-12-12,-0.006313,0.01295,0.095997,-0.284591,476.5,478.0,473.5,475.0,472.281494,20973334,-0.013499,-0.019263
824,2022-12-13,-0.006134,0.01290,0.012489,-0.194627,473.0,476.0,471.0,471.5,468.801514,33272826,-0.007368,-0.019034
825,2022-12-14,0.014901,0.01275,-0.014209,0.468954,472.0,480.5,472.0,480.5,477.750000,30636639,0.019088,0.002151
826,2022-12-15,-0.000355,0.01275,0.082550,-0.046106,476.0,481.5,474.5,480.5,480.500000,24222008,0.005756,-0.013105

In [34]:
final['abnormal_returns'] = df4['ER'] - final['Daily_Return']
final

,Date,market,rf,SMB,HML,Open,High,Low,Close,Adj Close,Volume,Daily_Return,mkt-rf,abnormal_returns
1,2019-07-24,-0.001050,0.00675,-0.022355,0.071122,266.5,266.5,263.0,265.0,244.135666,23734039,0.003788,-0.007800,-0.029442
2,2019-07-25,0.000517,0.00674,0.142433,0.051578,264.0,265.0,261.5,265.0,244.135666,30433545,0.000000,-0.006223,0.032092
3,2019-07-26,-0.004518,0.00690,0.144194,-0.196937,261.0,262.5,261.0,261.0,240.450577,20438071,-0.015094,-0.011418,0.013644
4,2019-07-29,-0.000574,0.00695,-0.035115,0.009478,260.0,262.0,259.5,261.0,240.450577,17509320,0.000000,-0.007524,0.029408
5,2019-07-30,-0.005037,0.00695,-0.104761,-0.132129,262.5,263.0,260.0,260.0,239.529358,22670612,-0.003831,-0.011987,0.008124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,2022-12-09,0.010471,0.01284,-0.168422,0.346143,478.0,484.5,476.0,481.5,478.744293,25915337,0.021209,-0.002369,-0.022397
823,2022-12-12,-0.006313,0.01295,0.095997,-0.284591,476.5,478.0,473.5,475.0,472.281494,20973334,-0.013499,-0.019263,-0.000112
824,2022-12-13,-0.006134,0.01290,0.012489,-0.194627,473.0,476.0,471.0,471.5,468.801514,33272826,-0.007368,-0.019034,-0.017974
825,2022-12-14,0.014901,0.01275,-0.014209,0.468954,472.0,480.5,472.0,480.5,477.750000,30636639,0.019088,0.002151,-0.089504
826,2022-12-15,-0.000355,0.01275,0.082550,-0.046106,476.0,481.5,474.5,480.5,480.500000,24222008,0.005756,-0.013105,-0.009068